# Extra
Injector

# Compilation files
Debug

# Visual Studio files
*.sln
*.vcxproj*
*.vcxproj.*
*.log
*.rc
*.aps
*resource.h

# VS Code files
.vs

# Cheat Engine output files
*.scandata*
*.scandata.*
*.PTR
*.PTR.*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
